.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #f9f9f9;
  border-radius: 4px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin-bottom: 10px;
}

.contacts {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.contactlist {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.contactlist svg {
  margin-right: 8px;
}
