.error {
  color: rgb(217, 75, 75);
  font-size: 0.875rem;
  margin-top: 0.25rem;
}
.container {
  display: flex;
  flex-direction: column;
  padding: 10px;
  background-color: #f9f9f9;
  border-radius: 4px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin: 0 auto;
  gap: 20px;
  max-width: 800px;
  min-width: 300px;
}
.contact {
  display: flex;
  padding-left: 10;
  font-weight: bold;
}
.input {
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #155617;
  border-radius: 4px;
  outline: none;
  max-width: 800px;
  min-width: 400px;
}

.input:focus {
  border-color: #087d1d;
  box-shadow: 0 0 5px #087d1d;
}
